* {
	margin: 0;
	padding: 0;
}

#animation {
	text-align: center;
	transition-property: background-color, font-size, color, box-shadow, text-shadow;
	transition-duration: 3s;
}

.new_bg:hover {
	background-color: green;
	font-size: 3em;
	color: blue;
}
